body {
  font-family: Arial;
  background-color: #eef2f3;
  text-align: center;
}

.box {
  background: white;
  width: 280px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 8px;
}

input {
  width: 90%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  padding: 8px 15px;
  background: #2196F3;
  color: white;
  border: none;
  cursor: pointer;
}

#table {
  margin-top: 10px;
  font-weight: bold;
}