body {
  font-family: Arial;
  background-color: #f2f2f2;
  text-align: center;
}

.box {
  background: white;
  width: 280px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 8px;
}

input {
  width: 90%;
  padding: 8px;
  margin: 6px 0;
}

button {
  padding: 8px 15px;
  background: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

p {
  font-weight: bold;
  margin-top: 10px;
}